@import "../../node_modules/bulma/bulma"

.table-of-contents
    @include desktop
        position: -webkit-sticky
        position: -moz-sticky
        position: -ms-sticky
        position: -o-sticky
        position: sticky
        height: 100%
        top: 10px
        bottom: auto
